nav {
    padding-top: 460px;
    margin-left: 83%;
}
header{
    background-image: url(../img/logo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    margin-bottom: 15px;
}


body{
    background-color: lightblue;
}

nav p{
    background-color: maroon;
    margin-right: 10px;
    margin-left: -50px;
}
nav a{
    text-decoration: none;
    color: red;
    font-size: 17px;
}

table,td,th{
    border-collapse: collapse;
    border: 1px solid black;
}

th{
    background-color: maroon;
}

